* {
    margin: auto;
    padding: 0;
}
.searchbox{
    border: 2px solid rgb(0, 99, 99);
    border-radius: 10px;
    display: flex; 
    width: 60%;
    height: 70%;
    margin-top: 50px;
    font-family: 'Quicksand', sans-serif;
}
/* search button */

.searchbox-city {
    position: relative;
    right: 0;
    top: 30px;
}

.searchbox-alpha {
    position: relative;
    right: 0;
    top: 30px;
}

.searchbox-age {
    position: relative;
    right: 0;
    top: 30px;
}

.searchbox-display
{
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60px;
    background: #C4DBE0;
    line-height:40px;
    padding: 10px;
    border-radius: 60px;
}

.searchbox-display:hover > .searchbox-text
{
    width: 240px;
    padding: 0 6px;
}
.searchbox-display:hover > .searchbox-button
{
    background: #C4DBE0;
}
.searchbox-button
{
    background: #C4DBE0;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbox-text
{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(50, 56, 58);;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-family: 'Quicksand', sans-serif;
}