* {
    margin: auto;
    padding: 0;
}
.searchbox{
    border: 2px solid rgb(0, 99, 99);
    border-radius: 10px;
    display: flex; 
    width: 50%;
    height: 50%;
    margin-top: 50px;
    font-family: 'Quicksand', sans-serif;
}
/* search button */

.searchbox-display{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60px;
    background: #C4DBE0;
    line-height:40px;
    padding: 10px;
    border-radius: 60px;
    font-family: 'Quicksand', sans-serif;
}
.searchbox-input{
    background: #C4DBE0;
    color: #fff;
    outline: none;
    border: none;
    line-height:40px;
    width: 0px;
    float: left;
    font-size:14px;
    transition: 0.5s ease;
    font-family: 'Quicksand', sans-serif;
}
.searchbox-button{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    background: #C4DBE0;
    padding: 12px;
    border-radius: 50%;
    float: right;
    color: rgb(0, 114, 114);
    transition: 0.4s ease;
}

.search-box:hover > .searchbox-input{
    width: 240px;
    margin: 0px 8px;
}

.searchbox-input:focus{
    width: 240px;
    margin: 0px 8px;
}

.search-box:hover > .searchbox-button{
    background: #C4DBE0;
    position: relative;
    top: -40px;
}

.searchbox-input:focus + .searchbox-button{
    background: #C4DBE0;
    position: relative;
    top: -40px;
}

h2 {
    font-family: 'Quicksand', sans-serif;
}