 * {
  margin: 0;
  padding: 0;
  border: border-box;
  font-family: 'Quicksand', sans-serif;
}

.display-user-container-left {
  position: relative;
  left: -30%;
}

.display-user-container-right {
  position: relative;
  left: 30%;
  bottom: 898px;
}

.profile_container{
	height: 400px;
	width: 320px;
	box-shadow: 78px 57px 109px 5px rgba(138,138,138,1);
	border-radius: 10px;
  display: inline-block;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 15%
}
.image_container{
	height: 150px;
  background: #0C6980;
  border-radius: 5px;
}
.image{
	background:#2EB5E0;
	height: 120px;
	width: 120px;
	padding: 5px;
	border-radius: 50%;
	transform:translate( 10px, 90px);
}
.image img{
	height: 110px;
	width: 110px;
	border-radius:50%;	
}
.title {
    background-color: #C4DBE0;
}

.title h3, p{
    padding-top: 60px;
    padding-left: 10px;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
   
}
h4 {
    padding-top: 20px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    
}
.text_container  {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.display-button {
    background-color:#00A8A8;
    color: white;
    font-size: 15px;
    border-radius:20px;
    height: auto;
    width:  140px;
    margin: auto;
    position: relative;
    bottom: -30px;
    justify-content: center;
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
}

.display-button:hover{
	background-color: white;
	color:#00A8A8;
	border:2px solid rgb(0, 114, 114);
	border-style:double;
	transition: 0.4s ease-in;
}