.search-bar {
    width: 250px;
    height: 36px;
    padding-top: 10%;
    display: flex;
  }
  
.searchbar-text {
    width: 100%;
    border: 3px solid #C4DBE0;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    font-family: 'Quicksand', sans-serif;
    display: flex;
  }
  
.searchbar-text:focus{
    color: #00A8A8;
  }
  
.searchbar-Button {
    width: 40px;
    height: 36px;
    border: 1px solid rgb(0, 114, 114);
    background: rgb(0, 114, 114);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    display: flex;
  }
  

.searchbar-wrap {
    display: flex;
    width: 30%;
    position: absolute;
    top: 5%;
    left: 80%;
    transform: translate(-50%, -50%);
}